<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

 		<appSettings>
			<!-- Example key-value pairs -->
			<add key="bCpta" value="D:\\Developpement\\TEST_IMPORTATION.MAE" />
			<add key="username" value="&lt;Administrateur&gt;" />
			<add key="password" value="Sage@1234" />
			<add key="excelFile" value=""/>
			<add key="Colonne A" value=""/>
			<add key="Colonne B" value=""/>
			<add key="Colonne C" value=""/>
			<add key="Colonne D" value=""/>
			<add key="Colonne E" value=""/>
			<add key="Colonne F" value=""/>
			<add key="Colonne G" value=""/>
			<add key="Colonne H" value=""/>
			<add key="Colonne I" value=""/>
			<add key="Colonne J" value=""/>
			<add key="Colonne K" value=""/>
			<add key="Colonne L" value=""/>
			<!-- Add more key-value pairs as needed -->
		</appSettings>
 
</configuration>    